{% extends "base.html.twig" %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-primary" role="alert">Template &laquo; <strong>bundle.html.twig</strong> &raquo;</div>
            </div>
            <div class="col">
                <div class="alert alert-info" role="alert">Extends of &laquo; <strong>base.html.twig</strong> &raquo;</div>
            </div>
            <div class="col">
                <div class="alert alert-danger" role="alert">Don't use &laquo; <strong>parent()</strong> &raquo;</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ render(controller('App\\Controller\\DefaultController::data')) }} {# -- Liste des données -- #}
            </div>
        </div>
    </div>

{% endblock %}